<ion-header>
  <ion-toolbar color="primary">
      <ion-title>Pregnant</ion-title>
      <!-- Menu Icon -->
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
  <!-- Back icon -->
      <ion-buttons slot="end">
          <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
  
    <ion-card-content>
      <ion-img src="/assets/images/pregnant.jpg"></ion-img> 

    </ion-card-content>
  </ion-card>

  <!-- Some Information-->
  <ion-card>
    <ion-card-header>
      <ion-card-title>How does pregnancy happen</ion-card-title>
    </ion-card-header>
  
    <iframe width="660" height="371" src="https://www.youtube.com/embed/n04NPtZI4QQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <ion-card-content>
      <p>
        In order for pregnancy to happen, sperm needs to meet up with an egg. Pregnancy officially starts when a fertilized egg implants in the lining of the uterus. It takes up to 2-3 weeks after sex for pregnancy to happen.</p>
        
      <h3>How do people get pregnant</h3>  
      <p>Pregnancy is actually a pretty complicated process that has several steps. It all starts with sperm cells and an egg.</p>

       <p> Sperm are microscopic cells that are made in testicles. Sperm mixes with other fluids to make semen (cum), which comes out of the penis during ejaculation. Millions and millions of sperm come out every time you ejaculate — but it only takes 1 sperm cell to meet with an egg for pregnancy to happen.
        Eggs live in ovaries, and the hormones that control your menstrual cycle cause a few eggs to mature every month. When your egg is mature, it means it’s ready to be fertilized by a sperm cell. These hormones also make the lining of your uterus thick and spongy, which gets your body ready for pregnancy.
       </p>        
        
        <p>About halfway through your menstrual cycle, one mature egg leaves the ovary — called ovulation — and travels through the fallopian tube towards your uterus.</p>
        
        <p>The egg hangs out for about 12-24 hours, slowly moving through the fallopian tube, to see if any sperm are around.</p>
        
        

    </ion-card-content>
  </ion-card>

</ion-content>
