<ion-header>
  <ion-toolbar color="primary">
      <ion-title> Covid</ion-title>
      <!-- Menu Icon -->
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
  <!-- Back icon -->
      <ion-buttons slot="end">
          <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
  
    <ion-card-content>
      <ion-img src="/assets/images/covid.jfif"></ion-img> 

    </ion-card-content>
  </ion-card>

  <!-- Some Information-->
  <ion-card>
    <ion-card-header>
      <ion-card-title>What is Covid 19</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    <p>    
    Coronavirus disease 2019 is a contagious disease caused by severe acute respiratory syndrome coronavirus 2. The first case was identified in Wuhan, China, in December 2019. Symptoms of COVID-19 are variable, but often include fever, cough, fatigue, breathing difficulties, and loss of smell and taste. Preventive measures include physical or social distancing, quarantining, ventilation of indoor spaces, covering coughs and sneezes, hand washing, and keeping unwashed hands away from the face. The use of face masks or coverings has been recommended in public settings to minimize the risk of transmissions. Several vaccines have been developed and various countries have initiated mass vaccination campaigns.
    </p>
    <h3>Is it a risk to pregnant women</h3>
    <p>Pregnant women do not seem to be at higher risk of getting SARS-CoV-2, the virus that causes COVID-19. However, studies have shown an increased risk of developing severe COVID-19 if they are infected, compared with non-pregnant women of a similar age. COVID-19 during pregnancy has also been associated with an increased likelihood of preterm birth.</p>
<p>Pregnant women who are older, overweight, or have pre-existing medical conditions such as hypertension (high blood pressure) and diabetes are at particular risk of serious outcomes of COVID-19.</p>  
<p>It is important that pregnant women - and those around them - take precautions to protect themselves against COVID-19. If they become unwell (including with fever, cough or difficulty breathing), they should seek urgent medical advice from a health worker.</p> 


<iframe width="650" height="350" src="https://www.youtube.com/embed/qA6-wL2lcUw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      

    </ion-card-content>
  </ion-card>

</ion-content>
