<ion-header>
  <ion-toolbar color="primary">
      <ion-title>Safe Period</ion-title>
      <!-- Menu Icon -->
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
  <!-- Back icon -->
      <ion-buttons slot="end">
          <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
  
    <ion-card-content>
      <ion-img src="/assets/images/safe.jfif"></ion-img> 

    </ion-card-content>
  </ion-card>

  <!-- Some Information-->
  <ion-card>
    <ion-card-header>
      <ion-card-title>The Safe Period</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>
        
        There is no absolutely "safe" time of the month when a woman can have sex without contraception and not risk becoming pregnant. However, there are times in the menstrual cycle when women may be most fertile and are most likely to conceive. The fertile days may last for up to 3-5 days after the end of your period.    </p>

      

    </ion-card-content>
  </ion-card>

</ion-content>
