<ion-header>
  <ion-toolbar color="primary">
      <ion-title>Menstrual Cycle</ion-title>
      <!-- Menu Icon -->
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
  <!-- Back icon -->
      <ion-buttons slot="end">
          <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
  
    <ion-card-content>
      <ion-img src="/assets/images/ovulating.jfif"></ion-img> 

    </ion-card-content>
  </ion-card>

  <!-- Some Information-->
  <ion-card>
    <ion-card-header>
      <ion-card-title>What causes Ovulation to occur?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>
        Ovulation is triggered by a spike in the amount of FSH and LH released from the pituitary gland. During the luteal (post-ovulatory) phase, the secondary oocyte will travel through the fallopian tubes toward the uterus. If fertilized by a sperm, the fertilized secondary oocyte or ovum may implant there 6–12 days later.
      </p>

        
      <p>Late or delayed ovulation is ovulation that occurs after day 21 of your menstrual cycle. Ovulation is the release of a mature egg from an ovary. It’s triggered by the monthly rise and fall of certain hormones, namely: estrogen. progesterone. luteinizing hormone. follicle-stimulating hormone.</p>

<h2>What causes pain</h2>    
<p>Ovulation may also cause: ovary pain characterized by discomfort or pain on one side of the abdomen, also called mittelschmerz Not everyone experiences symptoms with ovulation, so these signs are considered secondary in tracking your fertility. 5. Where does ovulation fit into your overall menstrual cycle?</p>  

    </ion-card-content>
  </ion-card>

</ion-content>
