<ion-header>
  <ion-toolbar color="primary">
      <ion-title>Infertility</ion-title>
      <!-- Menu Icon -->
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
  <!-- Back icon -->
      <ion-buttons slot="end">
          <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
  
    <ion-card-content>
      <ion-img src="/assets/images/infert.jfif"></ion-img> 

    </ion-card-content>
  </ion-card>

  <!-- Some Information-->
  <ion-card>
    <ion-card-header>
      <ion-card-title>What causes infertility?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>
        Infertility may be caused by a number of different factors, in either the male or female reproductive systems. However, it is sometimes not possible to explain the causes of infertility.

In the female reproductive system, infertility may be caused by:

tubal disorders such as blocked fallopian tubes, which are in turn caused by untreated sexually transmitted infections (STIs) or complications of unsafe abortion, postpartum sepsis or abdominal/pelvic surgery;
uterine disorders which could be inflammatory in nature (such as such endometriosis), congenital in nature (such as septate uterus), or benign in nature (such as fibroids);
disorders of the ovaries, such as polycystic ovarian syndrome and other follicular disorders;
disorders of the endocrine system causing imbalances of reproductive hormones. The endocrine system includes hypothalamus and the pituitary glands. Examples of common disorders affecting this system include pituitary cancers and hypopituitarism.
      </p>

      

    </ion-card-content>
  </ion-card>

</ion-content>
